[submodule "Cayenne/lib/spdlog"]
	path = Cayenne/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cayenne/lib/GLFW"]
	path = Cayenne/lib/GLFW
	url = https://github.com/glfw/glfw
[submodule "Cayenne/lib/ImGui/imgui"]
	path = Cayenne/lib/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Cayenne/lib/GLM"]
	path = Cayenne/lib/GLM
	url = https://github.com/g-truc/glm
